<%
global.years = global.years || new Set();
page.posts.forEach(post => years.add(post.date.year()))
%>

<div class="archive">
  <% global.years.forEach(year => { %>
    <h2 class="year-title"><%= year %></h2>
    <% page.posts.forEach(post => { %>
      <% if (post.date.year() === year){ %>
        <article class="<%= post.layout %>">
          <div class="post-content">
            <header>
              <time datetime="<%= post.date.toDate().toISOString() %>"><a href="<%- config.root %><%- post.path %>"><%= post.date.format("MMM DD") %></a></time>
              <h1 class="title"><a href="<%- config.root %><%- post.path %>"><%= post.title %></a></h1>
            </header>
          </div>
        </article>
      <% } %>
    <% }); %>
  <% }); %>
</div>
